button{
    width: 180px;
    height: 60px;
    padding: 15px;
    background-color: blueviolet;
    color: white;
    font-family: "Segoe UI", system-ui, sans-serif;
    transition-duration: 0.5s;
}

button:hover{
    transform: translateY(10px);
    width: 200px;
    height: 70px;

}